<!DOCTYPE html>
<html>
<head>
  <title>Polldown</title>
  <%= stylesheet_link_tag    "application" %>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
        <script type="text/javascript">
          //$("#roflcopter").click(function() { alert('hi'); });
          $(document).ready(function() {
          	var count = 0;
          $("#roflcopter").click(function() {
          	count += 1;
	           $("#roflcopter").html("View Results");
	           if (count > 1) {
		           $("#roflcopter").attr("data-controls-modal", "modal-from-dom");
	           };
	           $("#roflcopter").addClass("info");
	           $("#roflcopter").removeClass("primary");

	         });
	        });
        </script>
<body>
<div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Polldown &darr;</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#results">Results</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Poll the world!</h1>
        <h2>Today, Hamburgers vs. Hotdogs</h2>
        <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p><br />

         <button id="roflcopter" data-controls-modal="modal-from-dom-vote" data-backdrop="true" data-keyboard="true" class="btn primary">Vote Now</button>
      </div>
         <div id="modal-from-dom-vote" class="modal hide fade">
           <div class="modal-header">
             <a href="#" class="close">&times;</a>
             <h3>Vote <small>Hamburgers vs. Hotdogs</h3>
           </div>
           <div class="modal-body">
           Vote here
           </div>
           <div class="modal-footer" style="text-align:right;">
           </div>
         </div>
         <!-- sample modal content -->
         <div id="modal-from-dom" class="modal hide fade">
           <div class="modal-header">
             <a href="#" class="close">&times;</a>
             <h3>Results <small>Hamburgers vs. Hotdogs</h3>
           </div>
           <div class="modal-body">
           	<h2>58% Hamburgers</h2>
           	<h2>42% Hotdogs</h2>
             <p> Here I think we could put a chart demonstrating the difference, then maybe other charts that show the difference with breakdown by age/location/gender/whatever, and perhaps if we had a way to either make it look like an infographic, or generate infographics based on data we found before we startedthe poll...</p>
           </div>
           <div class="modal-footer" style="text-align:right;">
             View Similar <a href="#" class="primary">Results</a> | 
             <a href="#" class="primary">Polls</a>
           </div>
         </div>
         <!--end daily poll modal-->

      <!-- Example row of columns -->
      <div class="row">
	      <div class="span8">
		      <h2>Weekly Poll 1</h2>
          <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span5">
	      </div>
	      <div class="span8">
		      <h2>Weekly Poll 2</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span5">
	      </div>
      </div>

      <div class="row">
        <div class="span5">
          <h2>Monthly Poll</h2>
          <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span5">
          <h2>Monthly Poll</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span5">
          <h2>Monthly Poll</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <footer>
        <p>&copy; Lulzotronic Inc. 2011</p>
      </footer>

    </div> <!-- /container -->
<%= yield %>

</body>
</html>
