<!DOCTYPE html>
<html>
<head>
  <title>Polldown</title>
  <%= stylesheet_link_tag    "application" %>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <!-- XXX: probably want to put this in a partial eventually -->
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="#">Polldown &darr;</a>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#results">Results</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </div>
    </div>
  </div>

    <div class="container">

      <%= yield %>

      <footer>
        <p>&copy; Lulzotronic Inc. 2011</p>
      </footer>

    </div> <!-- /container -->


</body>
</html>
